html, body {
  padding: 0;
  margin: 0;
}

input {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  padding-bottom: 100px;
}



/* first example */
.container {
  max-width: 100%;
  height:auto;
  margin: 0px auto 0 auto;
  padding:50px;
  background-color: rgb(50, 18, 231);
  text-align: centre;
  color:#fff;
  display:flex;
}

h1 {
  margin:auto;
  font-size: 150%;
  }



/* second example */
.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  font-weight: bolder;
  display:flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  color:blue;
  font-weight: bold;
  font-size: 120%;
}

.main-column {
  flex: 1;
  order: 1;
}


.img {
  max-width:20%;
  height:auto;
  flex:1;
  order:2;
  transform:scaleY(.5) scaleX(.5);
  transform-origin: 100% 0;
  position:relative;
  }



.sidebar {
  font-weight: lighter;
  font-size: 88%;
  flex: 1;
  order:2;
  color:#020202;
}



/* third example */


.call-outs-container {
  animation-name: fadeBounce;
  animation-duration: 1s;
  max-width: 1400px;
  margin: 40px auto 0 auto;
 }

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}

/*  Bounce Animation */

@keyframes fadeBounce {
  0% {
    opacity:0;
    transform:translateY(-40%)
      }
  
  40% {
    opacity:1;
    transform:translateY(0%)
  }

  50% {
    opacity:0;
    transform:translateY(20%)
  }

  60% {
    opacity:0;
    transform:translateY(40%)
  }

  40% {
    opacity:1;
    transform:translateY(0%)
  }

}

/* End Bounce Animation */


/* fourth example */
.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap:wrap;
  transition-property:all;
  transition-duration: 1s;
  transform:translateY(10%)
}

.fixed-size-container:hover {
  transform: translateY(-40%);
}


.fixed-size {
  width: 175px;
  height: 100px;
  background-color: #990b47;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight:88%;
  font-size: 15px;
  text-justify:inherit;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-size: 88%;
  font-weight: lighter;
  color:black;
  padding:20px 20px;
  
}

/* fifth example */
.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: flex;
}

.center-me {
  color:#fff;
  font-size: 50px;
  margin: auto;
}

/* sixth example */
.equal-height-container {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
}

.first {
  background-color: #FFF;
  margin-right: 20px;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction:column;
}

.second-a {
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  flex: 1;
}
