html,
body {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}


/* first example */

.container {
    max-width: 100%;
    height: auto;
    margin: 0px auto 0 auto;
    padding: 50px;
    background-color: #414141;
    text-align:centre;
    color: #fff;
    display: flex;
}

h1 {
    margin: auto;
    font-size: 200%;
}


/* second example */

.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    color: blue;
    font-weight: bold;
    font-size: 120%;
}

.main-column {
    flex: 1;
    order: 1;
}

.img {
    max-width: 20%;
    height: auto;
    flex: 1;
    order: 2;
    transform: scaleY(.5) scaleX(.5);
    transform-origin: 100% 0;
    position: relative;
}

@media screen and (max-width:960px) {
    div.hide-small {
        display: none;
        margin-right: 40px;
    }
}

@media screen and (max-width:767px) {
    div.hide-small {
        display: none;
        margin-right: 40px;
    }
    .column-layout {
        display: block;
        margin-top: 50px;
    }
    .call-outs-container {
        max-width:400pxpx;
        margin: 30px auto;
        display: block;
    }
}

@media screen and (max-width:480px) {
    div.hide-small {
        display: none;
        margin-right: 50px;
        flex: none;
    }
    .column-layout {
        display: block;
        margin-top: 30px;
    }
    .call-outs-container {
        max-width: 300px;
        margin: 30px auto;
        display:block;
    }
}

@media screen and (max-width:360px) {
    div.hide-small {
        display: none;
        margin-right: 40px;
        flex: none;
    }
    .column-layout {
        display: block;
        margin-top: 30px;
    }
    .call-outs-container {
        max-width: 300px;
        margin: 30px auto;
        display:block;
    }
}

.sidebar {
    font-weight: lighter;
    font-size: 88%;
    flex: 1;
    order: 2;
    color: #383636;
}


/* third example */

.call-outs-container {
    max-width: 1250px;
    margin: 20px auto;
    display: flex;
}

.call-out {
    padding: 20px 20px;
    margin: 40px 20px 40px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.call-out:nth-child(1) {
    background-color: #c0dbe2;
}

.call-out:nth-child(2) {
    background-color: #cdf1c3;
}

.call-out:nth-child(3) {
    background-color: #ccb9da;
}


/* fourth example */

.fixed-size-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: #FFF;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(10%)
}

.fixed-size-container:hover {
    transform: translateY(-40%);
}

.fixed-size {
    width: 175px;
    height: 100px;
    background-color: #990b47;
    color: #FFF;
    line-height: 100px;
    text-align: center;
    font-weight: 88%;
    font-size: 15px;
    text-justify: inherit;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: 88%;
    font-weight: lighter;
    color: black;
    padding: 20px 20px;
}
